<div id="guy">
        <ul>
            <% @todos.each do |todo| %>
                <li>
                     <input type="checkbox" name=""/>
                     <a href="show/<%= todo.id %>"><%= todo.description %></a>
                     <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
                </li>
            <% end %>
        </ul>
        <br> <input type="text" placeholder="add new todo"> <br><br>
        <input type="number" placeholder="pomodoro estimate">
        <input id="add-new-todo-button" type="submit" value="Add to To-Do">
</div>
